body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.weather-widget {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
    filter:blur(red);
}

.weather-widget img {
    width: 50px;
    height: 50px;
}

.weather-widget .arrow {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
}
